<%= simple_form_for(@workshop, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label_html: { style: "color: white;" }, required: true %>
    <%= f.input :description, label_html: { style: "color: white;" }, as: :text, required: true %>
    <%= f.input :photo, label_html: { style: "color: white;" }, as: :file, required: true %>
    <%= f.input :date, label_html: { style: "color: white;" }, as: :datetime, required: true %>
    <%= f.input :address, label_html: { style: "color: white;" },
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
  </div>

  <div class="form-actions d-flex justify-content-between">
    <%= f.button :submit, class: "btn btn-success mb-2 mb-md-0 me-md-2 rounded-pill" %>
    <%= link_to 'Back', workshops_path, class: "btn btn-primary mb-2 mb-md-0 me-md-2 rounded-pill", style:"background-color: black; border: none;" %>
  </div>
<% end %>
