<% if workshops.empty? %>
  <p>No workshops available</p>
<% else %>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <% workshops.each do |workshop| %>
          <div class="col-md-6 mb-4">
            <div class="card h-100 d-flex flex-column" style="padding: 0; transition: transform 0.3s, box-shadow 0.3s; cursor: pointer; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)'" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)'">
              <% if workshop.photo.attached? %>
                <%= link_to workshop_path(workshop), data: { turbo_frame: "_top" } do %>
                  <%= cl_image_tag workshop.photo.key, class: "card-img-top img-fluid", style: "height: 15rem; width: 100%; object-fit: cover;" %>
                <% end %>
              <% else %>
                <%= link_to workshop_path(workshop), data: { turbo_frame: "_top" } do %>
                  <%= image_tag "noimage.jpg", class: "card-img-top img-fluid", style: "height: 15rem; width: 100%; object-fit: cover;" %>
                <% end %>
              <% end %>
              <div class="card-body p-2 d-flex flex-column">
                <h2 class="card-title" style="font-family: 'Lovelo', sans-serif;"><%= link_to workshop.title, workshop_path(workshop), class: "text-decoration-none", data: { turbo_frame: "_top" }, style:"color: black; font-family: 'Lovelo', sans-serif; font-weight: bold; font-size: 1.5rem;" %></h2>
                <p class="card-text small"><%= workshop.date.strftime("%B %d, %Y %H:%M") %></p>
                <div class="d-flex align-items-center mt-auto">
                  <% if workshop.user.photo.attached? %>
                    <%= cl_image_tag workshop.user.photo.key, class: "avatar", style: "width: 2rem; height: 2rem; margin-right: 10px; border-radius: 50px;" %>
                  <% else %>
                    <%= image_tag "noimageuser.jpg", class: "avatar", style: "width: 2rem; height: 2rem; margin-right: 10px; border-radius: 50px;" %>
                  <% end %>
                  <p class="card-text m-0 small" style="font-family: 'Lovelo', sans-serif;"><%= link_to workshop.user.name, user_path(workshop.user), class: "text-decoration-none", data: { turbo_frame: "_top" }, style:"color: black; font-size: 1rem; font-weight: bold;" %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div class="col-12" style="height: 100vh; position: sticky; top: 0;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      </div>
  </div>
<% end %>
