<div class="container-fluid mx-0">
  <div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center" style="background-color: #2836a5; height: 45rem;">
      <h1 style="width: 20rem; font-weight: bold; text-align: center; color: white">GET INSPIRED NOW!</h1>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center" style="background-color: #ff7c00;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <div class="col-sm-8 my-3">
        <%= form_with url: workshops_path, method: :get, class: "d-flex w-100", data: { turbo_frame: "workshops" } do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control me-2",
                placeholder: "Type a City, User, or Workshop Title"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag :workshops do %>
    <%= render "workshops/workshops_list", workshops: @workshops %>
  <% end %>
</div>
