<div class="container">
  <div class="row" style="background-color: #2836a5; margin-top: 3rem; padding: 2rem;">
    <div class="col-md-3 px-0">
      <div style="width: 100%; height: 100%;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <% if @workshop.photo.attached? %>
              <%= cl_image_tag @workshop.photo.key, class: "card-img-top img-fluid", style: "height: 15rem; width: 100%; object-fit: cover;" %>
            <% else %>
              <%= image_tag "noimage.jpg", class: "card-img-top img-fluid", style: "height: 15rem; width: 100%; object-fit: cover;" %>
            <% end %>
          </div>
          <div class="col-md-6">
            <% if @workshop.user.photo.attached? %>
              <%= image_tag @workshop.user.photo, class: "img-fluid", style: "height: 15rem; width: 100%; object-fit: cover;" %>
            <% else %>
              <%= image_tag "noimage.jpg", class: "img-fluid", style: "height: 15rem; width: 100%; object-fit: cover;" %>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h1 style="margin-top: 2rem; color: white;"><%= @workshop.title %></h1>
        <p style="color: white;"><%= @workshop.description %></p>
        <p style="font-family: Lovelo; color: white;"><%= @workshop.address %></p>
      </div>
      <p>
        <strong style="font-family: Lovelo; color: white;">Host:</strong>
        <%= link_to @workshop.user.name, user_path(@workshop.user), style:"font-family: Lovelo; color: white;" %>
      </p>
      <div class="row d-flex justify-content-between align-items-center mb-3">
        <div class="col-12 col-md-auto">
          <p style="font-family: Lovelo; color: white;"><%= @workshop.date.strftime("%B %d, %Y %H:%M") %></p>
        </div>
        <div class="col-12 col-md-auto d-flex flex-column flex-md-row">
          <% if @workshop.date < Date.today %>
            <% if @workshop.user == current_user %>
              <button class="btn btn-secondary w-100 mb-2 mb-md-0 me-md-2 rounded-pill" style="font-family: Lovelo" disabled>Workshop in the past, you can't edit or delete</button>
            <% else %>
              <button class="btn btn-secondary w-100 mb-2 mb-md-0 me-md-2 rounded-pill" style="font-family: Lovelo" disabled>Workshop in the past, you can't book it</button>
            <% end %>
          <% else %>
            <% if user_signed_in? && @workshop.user != current_user %>
              <% if @workshop.booked_users.include?(current_user) %>
                <%= button_to 'Cancel Booking', workshop_booking_path(@workshop, @workshop.bookings.find_by(user: current_user)), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn w-100 mb-2 mb-md-0 me-md-2', style:"border-radius: 0px; color: white; background-color: #ff7c00;" %>
              <% else %>
                <%= button_to 'Book Workshop', workshop_bookings_path(@workshop), method: :post, class: "btn w-100 mb-2 mb-md-0 me-md-2", style:"border-radius: 0px; color: white; background-color: #ff7c00;" %>
              <% end %>
            <% end %>
          <% end %>
          <% if user_signed_in? && @workshop.user == current_user && @workshop.date >= Date.today %>
            <%= link_to 'Edit', edit_workshop_path(@workshop), class: "btn w-100 mb-2 mb-md-0 me-md-2", style:"border-radius: 0px; color: white; background-color: #ff7c00;" %>
            <%= link_to 'Delete', @workshop, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn w-100", style:"border-radius: 0px; color: white; background-color: #ff7c00;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
