<div>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mx-auto my-5" style="background-color: #2836a5; padding: 30px;">
        <h2 class="text-white">Change your password</h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>
          <div class="form-inputs">
            <%= f.input :password,
                        label: "New password",
                        required: true,
                        autofocus: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        hint_html: { class: "text-white" },
                        input_html: { autocomplete: "new-password" },
                        label_html: { class: "text-white" } %>
            <%= f.input :password_confirmation,
                        label: "Confirm your new password",
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        label_html: { class: "text-white" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Change my password", class: "text-white", style: "background-color: #ff7c00;" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
    </div>
