<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mx-auto my-5" style="background-color: #2836a5; padding: 30px;">
      <h2 class="text-white mb-3">Forgot your password?</h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label_html: { style: "color: white;" },
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", style:"background-color: #d70c99; color: white; border-radius: 0px; margin-top: 15px;" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
