<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_insp.jpg", style: "height: 5rem; width: auto;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Booked Workshops", booked_workshops_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Dashboard", dashboard_workshops_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Inbox", inbox_workshops_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown d-none d-md-block" aria-labelledby="notificationsDropdown">
            <a href="#" class="nav-link d-flex align-items-center justify-content-center h-100" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% unread_booking_messages_count = current_user.bookings.joins(:messages).where(messages: { read: false }).where.not(messages: { user_id: current_user.id }).count %>
              <% unread_workshop_messages_count = Message.joins(booking: :workshop).where(workshops: { user_id: current_user.id }).where(read: false).where.not(user_id: current_user.id).count %>
              <% unread_messages_count = unread_booking_messages_count + unread_workshop_messages_count %>
              <i class="fa-solid fa-bell <%= 'text-danger' if unread_messages_count > 0 %>"></i>
              <% if unread_messages_count > 0 %>
                <span class="badge bg-danger text-white"><%= unread_messages_count %></span>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% unread_bookings = current_user.bookings.joins(:messages).where(messages: { read: false }).where.not(messages: { user_id: current_user.id }) %>
              <% unread_workshops = current_user.workshops.joins(bookings: :messages).where(messages: { read: false }).where.not(messages: { user_id: current_user.id }) %>
              <% if unread_bookings.any? || unread_workshops.any? %>
                <% unread_bookings.each do |booking| %>
                  <%= link_to chat_workshop_booking_path(booking.workshop, booking), class: "dropdown-item" do %>
                    <%= "#{booking.workshop.title} - #{booking.messages.where(read: false).where.not(user_id: current_user.id).count} unread messages" %>
                  <% end %>
                <% end %>
                <% unread_workshops.each do |workshop| %>
                  <% workshop.bookings.each do |booking| %>
                    <% unread_messages_count = booking.messages.where(read: false).where.not(user_id: current_user.id).count %>
                    <% if unread_messages_count > 0 %>
                      <%= link_to chat_workshop_booking_path(workshop, booking), class: "dropdown-item" do %>
                        <%= "#{workshop.title} - #{unread_messages_count} unread messages" %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <span class="dropdown-item">No new messages</span>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown d-md-none" aria-labelledby="notificationsDropdown">
            <a href="#" class="nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% unread_booking_messages_count = current_user.bookings.joins(:messages).where(messages: { read: false }).where.not(messages: { user_id: current_user.id }).count %>
              <% unread_workshop_messages_count = Message.joins(booking: :workshop).where(workshops: { user_id: current_user.id }).where(read: false).where.not(user_id: current_user.id).count %>
              <% unread_messages_count = unread_booking_messages_count + unread_workshop_messages_count %>
              <p class="<%= 'text-danger' if unread_messages_count > 0 %> mb-0">Notifications</p>
              <% if unread_messages_count > 0 %>
                <span class="badge bg-danger text-white"><%= unread_messages_count %></span>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% unread_bookings = current_user.bookings.joins(:messages).where(messages: { read: false }).where.not(messages: { user_id: current_user.id }) %>
              <% unread_workshops = current_user.workshops.joins(bookings: :messages).where(messages: { read: false }).where.not(messages: { user_id: current_user.id }) %>
              <% if unread_bookings.any? || unread_workshops.any? %>
                <% unread_bookings.each do |booking| %>
                  <%= link_to chat_workshop_booking_path(booking.workshop, booking), class: "dropdown-item" do %>
                    <%= "#{booking.workshop.title} - #{booking.messages.where(read: false).where.not(user_id: current_user.id).count} unread messages" %>
                  <% end %>
                <% end %>
                <% unread_workshops.each do |workshop| %>
                  <% workshop.bookings.each do |booking| %>
                    <% unread_messages_count = booking.messages.where(read: false).where.not(user_id: current_user.id).count %>
                    <% if unread_messages_count > 0 %>
                      <%= link_to chat_workshop_booking_path(workshop, booking), class: "dropdown-item" do %>
                        <%= "#{workshop.title} - #{unread_messages_count} unread messages" %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <span class="dropdown-item">No new messages</span>
              <% end %>
            </div>
          </li>
          <li class="nav-item d-sm-none">
            <%= link_to 'New Workshop', new_workshop_path, class:"nav-link" %>
          </li>
          <li class="nav-item d-sm-none">
            <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-sm-none">
            <%= link_to "View profile", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item d-sm-none">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete}, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar-container d-none d-sm-block" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= image_tag current_user.photo, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "noimageuser.jpg", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to 'New Workshop', new_workshop_path, class:"dropdown-item" %>
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "View profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
